<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICatalogo" />
                <binding name="BasicHttpsBinding_ICatalogo">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ICatalogo1" />
                <binding name="BasicHttpsBinding_ICatalogo1">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.130/Publicacion.Siac.Web.Desarrollo2/Servicios/Catalogo.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICatalogo"
                contract="CatalogoSiacWeb.ICatalogo" name="BasicHttpBinding_ICatalogo" />
            <endpoint address="https://uiomatsvrweb2.autoconti.com/Publicacion.Siac.Web.Desarrollo2/Servicios/Catalogo.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ICatalogo"
                contract="CatalogoSiacWeb.ICatalogo" name="BasicHttpsBinding_ICatalogo" />
            <endpoint address="http://192.168.0.130/Publicacion.Siac.Web.EcuaAuto/Servicios/Catalogo.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICatalogo1"
                contract="CatalogoSiacWebEA.ICatalogo" name="BasicHttpBinding_ICatalogo1" />
            <endpoint address="https://uiomatsvrweb2.autoconti.com/Publicacion.Siac.Web.EcuaAuto/Servicios/Catalogo.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ICatalogo1"
                contract="CatalogoSiacWebEA.ICatalogo" name="BasicHttpsBinding_ICatalogo1" />
        </client>
    </system.serviceModel>
</configuration>