<?xml version="1.0" encoding="utf-8"?>

<!-- Para obtener más información sobre el uso de la transformación de web.config, visite http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    En el ejemplo siguiente, la transformación "SetAttributes" cambiará el valor de    "connectionString" para que solamente use "ReleaseSQLServer" cuando el localizador "Match"    encuentre un atributo "name" con el valor "MyDB".    <connectionStrings>     <add name="MyDB".        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      En el ejemplo siguiente, la transformación "Replace" reemplazará toda la 
      sección <customErrors> del archivo web.config.
      Tenga en cuenta que, como solo hay una sección customErrors bajo el nodo 
      <system.web>, no es necesario usar el atributo "xdt:Locator".
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <appSettings xdt:Transform="Replace">
    <add key="RepositorioGenerico" value="E:/RepositorioSiac/"/>
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
  </appSettings>
  <connectionStrings xdt:Transform="Replace">
    <add name="siacEntities" connectionString="wwwJW8lNHeQCALc52w2XJblmggJc7gfzO97B2ZpMb9s6sVsqEOfnfXNkMJ9O0ka4h6o1hiGKdnfyfic/St+xyVYjmRfuJ19R2PK8HT3oLdxOvW/aYuOS2Gjqmx1SWTs4ID2T6DUWXxZJIc2/te8VIaeGgTLqYJSt7v8n/EecBwEe6PN7zc4NOw=="/>
    <add name="siac_prodConnectionString" connectionString="Data Source=SERVIDOR;Initial Catalog=siac_prod;Persist Security Info=True;User ID=us_rep;Password=HB3eC:_82"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer xdt:Transform="Insert">
    <rewrite>
      <rules>
        <rule name="http a https" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://apps.autoconsa.com{REQUEST_URI}" redirectType="Temporary" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>