<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
  </system.web>
  <appSettings>
    <add key="RepositorioGenerico" value="C:/RepositorioSiacWEB/AC/" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
  </appSettings>
  <connectionStrings>
    <add name="siacEntities" connectionString="wwwJW8lNHeQCALc52w2XJblmggJc7gfzO97B2ZpMb9s6sVsqEOfnfXNkMJ9O0ka4h6o1hiGKdnfyfic/St+xyVYjmRfuJ19R2PK8HT3oLdxOvW/aYuOS2Gjqmx1SWTs4ID2T6DUWXxZJIc2/te8VIaeGgTLqYJSt7v8n/EecBwEe6PN7zc4NOw==" />
    <add name="siac_prodConnectionString" connectionString="Data Source=SERVIDOR;Initial Catalog=siac_prod;Persist Security Info=True;User ID=us_rep;Password=HB3eC:_82"
      providerName="System.Data.SqlClient" />
    <add name="siac_cobroConnectionString" connectionString="Data Source=SERV-DESARROLLO;Initial Catalog=siac_cobro;User ID=vmiranda;Password=Vl@di.2056"
      providerName="System.Data.SqlClient" />
    <add name="siac_electroConnectionString" connectionString="Data Source=SERVIDOR;Initial Catalog=siac_electro;Persist Security Info=True;User ID=lguerra;Password=Auto69*014"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICatalogo" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_ICatalogo1" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.0.130/Publicacion.Siac.Web.Produccion/Servicios/Catalogo.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICatalogo"
          contract="CatalogoSiacWeb.ICatalogo" name="BasicHttpBinding_ICatalogo" />
      <endpoint address="http://192.168.0.130/Publicacion.Siac.Web.EcuaAuto/Servicios/Catalogo.svc"
                  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICatalogo1"
                  contract="CatalogoSiacWebEA.ICatalogo" name="BasicHttpBinding_ICatalogo1" />
    </client>
  </system.serviceModel>
</configuration>